<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div id="container">
        <div class="icon-container">
            <img src="/image/chatIcon.png" alt="Chat Icon" class="chat-icon">
        </div>
        <div class="button-container">
            <button id="btn_chat">Start Chat</button>
        </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>