<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>알림</title>
    <link rel="stylesheet" href="/css/confirm.css" />
  </head>
  <body>
    <div class="popup-container">
      <div class="popup-title">
        <span>알림</span>
      </div>
      <div class="popup-message">
        <span><%=message %></span>
      </div>
      <div>
        <button class="btn_close" onclick="window.close()">확인</button>
      </div>
    </div>
  </body>
</html>
