<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- 
        이벤트에 따른 저장 및 출력
    -->
    <div>
      <h2>이벤트 컨트롤 : 저장 및 출력</h2>
      <textarea
        id="contentsArea"
        style="width: 1000px; height: 400px"
      ></textarea>
      <div>
        <button style="background-color: rgb(240, 224, 255); border:none; margin-top:20px; width: 200px; height: 40px; padding:5px 10px; " id="btn_logout" type="button">로그아웃</button>
      </div>
    </div>
    <script src="./js/kakao/eventHandler.js"></script>
  </body>
</html>
