<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- 
        이벤트에 따른 저장 및 출력
    -->
    <div>
      <h2>이벤트 컨트롤 : 저장 및 출력</h2>
      <textarea
        id="contentsArea"
        style="width: 1000px; height: 400px"
      ></textarea>
      <div>
        <button id="btn_logout" type="button">로그아웃</button>
      </div>
    </div>
    <script
      src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.6/kakao.min.js"
      integrity="sha384-WAtVcQYcmTO/N+C1N+1m6Gp8qxh+3NlnP7X1U7qP6P5dQY/MsRBNTh+e1ahJrkEm"
      crossorigin="anonymous"
    ></script>
    <script>
      // 서버에서 전달받은 키 사용
      if (typeof Kakao !== "undefined" && !Kakao.isInitialized()) {
        Kakao.init("<%= kakaoJSkey %>");
      }
    </script>
    <script src="./js/kakao/eventHandler.js"></script>
  </body>
</html>
