<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="signupContainer">
        <div style="margin-bottom: 25px">
          <span style="font-size: 25px; font-weight: bold">회원가입</span>
        </div>
        <form>
          <!-- name -->
          <div class="ipt_Container">
            <div class="ipt_fields">
              <label>이름<span class="required">*</span></label>
            </div>
            <div class="ipt_box">
              <input id="ipt_name" required/>
            </div>
          </div>
          <!-- id -->
          <div class="ipt_Container">
            <div class="ipt_fields">
              <label>아이디<span class="required">*</span></label>
            </div>
            <div class="ipt_box">
              <input id="ipt_id" required/>
            </div>
          </div>
          <!-- password -->
          <div class="ipt_Container">
            <div class="ipt_fields">
              <label>비밀번호<span class="required">*</span></label>
            </div>
            <div class="ipt_box">
              <input id="ipt_pw" required/>
            </div>
          </div>
          <!-- password check -->
          <div class="ipt_Container">
            <div class="ipt_fields">
              <label>비밀번호 확인<span class="required">*</span></label>
            </div>
            <div class="ipt_box">
              <input id="ipt_pwChk" required/>
            </div>
          </div>
          <!-- 회원가입 버튼 -->
          <div id="btn_container">
            <button id="btn_signup" type="button" onclick="">회원가입</button>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="/js/kakao/signup.js"></script>
  </body>
</html>
